<div class="content">
  <div class="box">
      <ul class="list">
          <li><%= image_tag("slide1.jpg", width: "900", class: "slide") %></li>
          <li><%= image_tag("slide2.jpg", width: "900", class: "slide") %></li>
          <li><%= image_tag("slide3.jpg", width: "900", class: "slide") %></li>
          <li><%= image_tag("slide1.jpg", width: "900", class: "slide") %></li>
      </ul>
      <div class="number">
          <a href="javascrpit:" class="number_1">1</a>
          <a href="javascript:" class="number_2">2</a>
          <a href="javascript:" class="number_3">3</a>
      </div>
  </div>
</div>
