<header>
  <span class="right">
    <label for="search">Search </label>
    <input id="search" type="text" />
  </span>
  <h1>Winnipeg Furniture</h1>
</header>
<nav>
  <ul>
    <%= link_to 'Home', controller: 'homepage' %>
    <%= link_to 'Product', controller: 'products' %>
  </ul>
</nav>
