<div class="cartindex">
  <h1>Current Cart</h1>
  
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @carts.each do |cart| %>
        <tr>
          <td><%= link_to cart.id, cart %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
</div>
