<div class="filter">
  <h2>Filter</h2>
  
  <h3>Products under <%= link_to 'On Sale', filter_on_sale_path %> status</h3>
  <h3>Products under <%= link_to 'New', filter_new_path %> status</h3>
  <h3>Products under <%= link_to 'Recently Updtaed', filter_updated_path %> status</h3>
</div>